<g id="Regions">
  <a onclick="toggle('3')"><title>Naples</title><circle id="naples" cx="620.2147" cy="862.6856" r="109.4101" fill="#fc4b38" fill-opacity="0.5" stroke="#fc4b38" stroke-miterlimit="10" stroke-width="4"/></a>
  <a onclick="toggle('2')"><title>Sarasota</title><circle id="sarasota" cx="275.895" cy="486.3214" r="26.1708" fill="#fc4b38" fill-opacity="0.5" stroke="#fc4b38" stroke-miterlimit="10" stroke-width="4"/></a>
  <a onclick="toggle('1')"><title>Clearwater</title><circle id="clearwater" cx="197.7102" cy="282.0519" r="47.9855" fill="#fc4b38" fill-opacity="0.5" stroke="#fc4b38" stroke-miterlimit="10" stroke-width="4"/></a>
  <a onclick="toggle('4')"><title>Florida Keys</title><circle id="florida-keys" cx="681.4818" cy="1243.2361" r="102.3611" fill="#fc4b38" fill-opacity="0.5" stroke="#fc4b38" stroke-miterlimit="10" stroke-width="4"/></a>
</g>
