// general styles for the project that wouldn't be a reuseable component


/* ==========================================================================
   Dividers & Alignment
   ========================================================================== */

   .bv-title-divider::after{
     content: url(../img/icons/flower.svg);
     display: block;
     margin-top: 3px;
     margin-bottom: -2px;
     transform: scale(.65);

     @include bp($md) {
       content: url(../img/icons/divider-w.svg);
       display: block;
       margin-top: 10px;
       transform: scale(.5);

     }

     @include bp($xl) {
       content: url(../img/icons/divider-w.svg);
       display: block;
       margin-top: 2px;
       transform: scale(.3);

     }
   }


  .bv-headline-divider::after {
    content: ('========');
    display: block;
    //color: $f-blue;
    font-size: $s5;
    letter-spacing: -8px;
    margin: 5px 0 -8px 2px;
  }

   .bv-lineheight{
    line-height: 1.2em;
   }

   .bv-mob-left {
     text-align: center;
   }

   @media only screen and (max-width: 768px) {

     .bv-mob-left {
     text-align: left;
     }
   }

   .bv-mob-center {
      text-align: left;
    }

    @media only screen and (max-width: 799px) {

      .bv-mob-center {
      text-align: center;
      margin-left: 0;
      }
    }

/* ==========================================================================
   Parallax & DRAWINGS
   ========================================================================== */

.bv-parallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

    &--left   {
      background-attachment: fixed;
      background-position: 32% 50%;
      background-repeat: no-repeat;
      background-size: cover;}


    &--right   {
      background-attachment: fixed;
      background-position: 60% 50%;
      background-repeat: no-repeat;
      background-size: cover;}

    &--darkest   {
      background-attachment: fixed;
      background-color: rgba(5,20,40,0.9);
      background-blend-mode: multiply;
      background-position: center;
      background-size: cover;}

    &--darker   {
      background-attachment: fixed;
      background-color: rgba(5,20,40,0.8);
      background-blend-mode: multiply;
      background-position: center;
      background-size: cover;}

    &--dark   {
      background-attachment: fixed;
      background-color: rgba(5,20,40,0.7);
      background-blend-mode: multiply;
      background-position: center;
      background-size: cover;}

    &--lighter   {
      background-attachment: fixed;
      background-color: rgba(250,250,250,0.7);
      background-blend-mode: lighten;
      background-position: center;
      background-size: cover;
      }

    &--light   {
      background-attachment: fixed;
      background-color: rgba(250,250,250,0.5);
      background-blend-mode: color;
      background-position: center;
      background-size: cover; }

    &--white   {
      background-attachment: fixed;
      background-color: rgba(250,250,250,0.8);
      background-blend-mode: overlay;
      background-position: center;
      background-size: cover; }

}


@media only screen and (max-width: 1024px) {

.bv-remove-bg{
  background-image: none!important;

  &--blue{
    background-image: none!important;
    background-color: $f-blue;}
}

.bv-parallax{
      background-attachment: scroll;
      background-size: cover;

    &--darkest   {
      background-attachment: scroll;
      background-size: cover;
    }
    &--darker   {
      background-attachment: scroll;
      background-size: cover;
    }
    &--dark   {
      background-attachment: scroll;
      background-size: cover;
    }
    &--lighter   {
      background-attachment: scroll;
      background-size: cover;
      background-color: none;
    }
    &--light   {
      background-attachment: scroll;
      background-size: cover;
      background-color: none;
    }
    &--white   {
     background-attachment: scroll;
     background-size: cover;
     background-color: none;
    }
  }
}


.bv-drawing{

  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-size: cover;

}



/* ==========================================================================
 Collapsible
========================================================================== */


.bv-collapsible {

  cursor: pointer;

}

.bv-collapsible:after {
  content: ' ansehen ';
}

.bv-active:after {
  content: ' schliessen ';
}

.bv-content {

  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-out;
}


/* ==========================================================================
Old photo border
========================================================================== */

.bv-photoborder{

  border: 12px solid $white;
  background-color: $white;
  //padding: 15px;
  //border-image: url(../img/icons/frame.png) 30 stretch;
}



/* ==========================================================================
Flight tag - Offers
========================================================================== */

.flight-tag {
  position: absolute;
  top: $s-2;
  left: $s-2;
  display: block;
  width: 50%;
  @include bp($sm){
    top: $s0;
    left: $s0;
    width: 146px;
  }
}














/******* hide*******/
.pt-hidden{
  display: none;
}
.pt-show{
  display: block;
}

/**********box shadow*********/
.bv-box-shadow{

      -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
}


/*********** Categories Colours *********/

.pt-hpad-sm{

  padding-left: 22px;
  padding-right: 22px;
}


.pt-nature{
  background-color: #4cb379;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.pt-nature-font{
  color: #299056;
  }

.pt-nature-pin{
    background-color: #299056;
    }



.pt-pleasure{
  background-color: #fcc606;
  border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.pt-pleasure-font{
  color: #fcc606;
  }
.pt-pleasure-pin{
      background-color: #fcc606;
      }

.pt-active{
  background-color: #4ea1d9;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.pt-active-font{
  color: #4ea1d9;
  }
.pt-active-pin{
        background-color:  #4ea1d9;
        }




    @media only screen and (max-width: 970px) {


      .pt-culture, .pt-active, .pt-pleasure, .pt-nature{

          border-radius: 6px;

    }}
/************ Preview-Box / accordion ***************/



.pt-preview-bg-pos{
 background-position: right center;
}

.pt-preview-wrapper, .pt-preview-default{
  //position: absolute;
  /*width:72%;
  margin-right: 18%;
  margin-top: 12%;
  //display: table;*/
  min-width: 400px;
  max-width: 580px;
  border-bottom: 3px solid $f-red;
 width:100%;  height:auto; float: right; margin-top:10%; margin-left:20px;
}

.pt-preview-default{
/*
  width:60%;
  top: 22%;*/

}


@media only screen and (max-width: 1024px) {
.pt-preview-wrapper{

  margin-top: 15%;

}
}

.pt-opacity{

 background-color: #000;
 width:100%;
 height: 100%;
 padding: 0;
 text-align: center;


}


.accordion {
    /*background-color: #eee;*/

    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    color: #fff;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    font-weight: normal;
}
.accordion::after{
  content: url(../img/icons/close.svg);
  transform: scale(.3) rotate(45deg);
  display: block;
  margin-top: -42px;
  margin-bottom: -18px;
  margin-left: 90%;
}
 .accordion:hover{

   font-weight: bold;
 }
 .active{

      font-weight: bold;


     /**/
 }
.active::after {
content: url(../img/icons/close.svg);
  transform: scale(.3)  rotate(0deg);

}

.panel {
    padding:18px;
    margin-top: -3px;
    display: none;
    background-color: white;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;

}

.panel-img{
width:100%;
padding-bottom: 20%;
padding-top:20%;
background-size: cover;
text-align: center;
letter-spacing: -0.5px;
background-position: right center;

}
